{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Django News{% endblock %}</title>
  <link rel='stylesheet' href='{% static 'css/style.css' %}' type='text/css' media='screen'/>
</head>
<body>
<div id="header-background">
  <header>
      <h2 class="logo"><a href="/">Django News</a></h2>
      <nav>
        {% if user.is_authenticated %}<a href="{% url 'posts.views.submit' %}">Submit</a>{% endif %}
      <span class="pull-right">
        {% if user.is_authenticated %}
          <a>Logged as {{user}}</a>
          <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
        {% else %}
          <a href="{% url 'socialauth_begin' 'github' %}">Login with GitHub</a>
         {% endif %}
        </span>
      </nav>
  </header>
</div>
<section id="content">
{% block content %}{% endblock %}
</div>
</body>
</html>