{% extends "posts/base.html" %}

{% block content %}
<div>
	{% include "posts/post.html" with post=post%}
	{% if post.text %}
	<div>{{ post.text }}<div>
	{% endif %}
</div>
<h4>Comments</h4>
{% load mptt_tags %}
<div class="comments">
{% recursetree comments %}
    <div class="comment" style="margin-left: {{ node.get_level }}0px">

        <h6><a href="{% url 'posts.views.comment_upvote' post.pk node.pk %}"><i class="icon-chevron-up"></i></a>
    &nbsp;{{ node.score }}&nbsp;
    <a href="{% url 'posts.views.comment_downvote' post.pk node.pk%}"><i class="icon-chevron-down"></i>

    </a>&nbsp;&nbsp;&nbsp;{{ node.author }} on {{ node.date }}</h6>
        <div>{{ node.comment|linebreaks }}</div>
        {% if user.is_authenticated %}<a href="{% url 'posts.views.comment_reply' post.pk node.pk %}">Reply</a>{% endif %}
    </div>
    {% if not node.is_leaf_node %}
        {{ children }}
    {% endif %}
{% endrecursetree %}
{% if user.is_authenticated %}
<br/>
<a href="{% url 'posts.views.comment_reply' post.pk 0 %}"> - New thread </a>
</div>
{% endif %}

{% endblock %}
