{% load humanize %} 

<span class="post">
	<a href='{% url 'posts.views.upvote' post.pk %}' class='upvote' title='upvote'>vote up</a>
	{% if post.link %}
	<a class="link" href="{{ post.link }}">{{ post.title }}</a><span class="comhead"> ({{post.get_domain}}) </span>
	{% else %}
	<a class="link" href="{% url 'posts.views.details' post.pk %}">{{ post.title }}</a>
	{% endif %}
	<span class="score">
	{% with total=post.score %}
		{{ total }} point{{ total|pluralize }}
	{% endwith %}

	</span> by {{ post.user }} {{ post.date|naturaltime}}  | <a class="comments" href="{% url 'posts.views.details' post.pk %}">
	{% with total=post.comments_count %}
		{{ total }} comment{{ total|pluralize }}
	{% endwith %}</a>
</span>