<div class="post">
	<h4><a href="{% url 'posts.views.upvote' post.pk %}"><i class="icon-chevron-up"></i></a>
	&nbsp;{{ post.score }}&nbsp;
	<a href="{% url 'posts.views.downvote' post.pk %}"><i class="icon-chevron-down"></i></a>&nbsp;&nbsp;
	<a href="{% url 'posts.views.details' post.pk %}">{{ post.title }}</h4></a>
	{% if post.link %}
	<a href="{{ post.link }}"> {{ post.link }}</a><br/>
	{% endif %}
	<p> Submitted on {{ post.date }} by {{ post.user }} | 
		{% with total=post.comments_count %}
		{{ total }} comment{{ total|pluralize }}
		{% endwith %}
	</p>
</div>